.intro_content {text-align:center;margin:10px 0px;}
.color_type {width:15px;height:50px;background-color:rgb(184, 109, 255); border:1px solid #d9d9d9; float:left;}
.todo_content {height:50px; width:80%;border:1px solid #d9d9d9;background-color:lemonchiffon}
.todo_input {width:80%; margin:6px 0px 6px 8px; height:30px}
.todo_box {margin-left:20%;position: relative;}
.todo_now {border:1px solid #d8d8d8; display:inline-block;padding:10px;margin-top:10px;width:40%; margin-left:20px;}
.todo_now ul li {display:inline-block;}
.circle {display:inline-block;width:10px;background-color:black;height:10px;border-radius: 30px;margin-right:10px;}
.addBtn {margin-left:4px;}
button{
    background:#b7abdc;
    color:#fff;
    border:none;
    position:relative;
    height:25px;
    font-size:1.1em;
    padding:0 5px;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    vertical-align: middle;
  }
button:hover{
    background:#fff;
    color:rgb(101, 26, 171);
}
button:before,button:after{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rgb(101, 26, 171);
    transition:400ms ease all;
  }
  button:after{
    right:inherit;
    top:inherit;
    left:0;
    bottom:0;
  }
  button:hover:before,button:hover:after{
    width:100%;
    transition:800ms ease all;
  }

  .color_set {display:none; position:absolute; left:-20px; top:-36px;border:1px solid #d9d9d9;background-color:white;padding:5px;}

  .red {background-color:rgb(252, 117, 117)}
  .yellow {background-color:rgb(250, 250, 112)}
  .green {background-color:rgb(128, 255, 128)}
  .blue {background-color:rgb(98, 122, 255)}
  .purple {background-color:rgb(184, 109, 255)}